.home{
  margin-top: 15%;

  .home-button{
    width: 300px;
  }
  .title {
    color: #0d47a1;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .subtitle{
    color: #012333;
    margin-bottom: 24px;
  }
}